.about {
  color: white;
  font-family: "Manuscribe Free", sans-serif;
  font-weight: 400;
  font-size: 100px;
  text-align: center;
}

.about_flag {
  height: 200px;
}

.about_text {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 1s ease forwards;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about_flag {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 2s ease forwards;
}

@media (max-width: 900px) {
  .about {
    font-size: 70px;
  }
}

@media (max-width: 700px) {
  .about {
    font-size: 50px;
  }
  .about_flag {
    height: 150px;
  }
}

@media (max-width: 470px) {
  .about {
    font-size: 30px;
  }
  .about_canvas {
    height: 50px;
  }
  .about_flag {
    height: 100px;
  }
}

@media (max-width: 370px) {
  .about_flag {
    height: 80px;
  }
}

@media (max-width: 320px) {
}
