.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.brain {
  height: 500px;
  width: 50%;
}
.contact__block {
  width: 50%;
  color: white;
  font-family: "Clash Display", sans-serif;
  font-size: 25px;
  margin-left: 50px;
}
.contact__block div {
  margin-top: 25px;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 1s ease forwards;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.contact__info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
@media (max-width: 700px) {
  .contact__block {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
  .brain {
    margin-top: 100px;
    height: 300px;
    width: 100%;
  }
  .contact__block {
    font-size: 18px;
  }
  .contact__block div {
    display: block;
  }
}

@media (max-width: 470px) {
  .contact__block {
    font-size: 14px;
  }
  .brain {
    height: 150px;
  }
}

@media (max-width: 370px) {
  .contact__block {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .brain {
    height: 120px;
  }
}
