.contact {
  display: flex;
  align-items: center;
}
.brain {
  height: 500px;
  width: 50%;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.contact__block {
  width: 50%;
  color: white;
  font-family: "Clash Display", sans-serif;
  font-size: 25px;
  margin-left: 50px;
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.contact__block div {
  margin-top: 25px;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 1s ease forwards;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.contact__info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
