.nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 35px;
  padding: 15px;
  transition: background-color 0.5s ease-in-out;
  position: fixed;
  top: 45%;
  width: 100%;
}

.fill-background {
  background-color: white;
  color: black;
}
.block {
  cursor: pointer;
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}
