.nameblock {
  color: white;
  position: fixed;
  top: 0%;
  padding: 15px;
  font-size: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Manuscribe Free", sans-serif;
  font-weight: 800;
  background-color: black;
}
