.project {
  margin-top: 150px;
  color: white;
  width: 100%;
}
.project h2 {
  font-family: "Manuscribe Free", sans-serif;
  font-size: 60px;
  font-weight: 800;
  width: 85%;
  text-align: right;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 0.5s ease forwards;
}
.project__block {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 50px;
}
.project__block_img {
  width: 40%;
  opacity: 0;
  margin: 0 100px 0 100px;
  transform: translateY(20px);
  animation: slide-up 1s ease forwards;
}
.project__block_name {
  font-family: "Manuscribe Free", sans-serif;
  font-weight: 600;
  font-size: 50px;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 1s ease forwards;
}
.project__block_desc {
  font-family: "Clash Display", sans-serif;
  font-weight: 300;
  font-size: 25px;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 1s ease forwards;
}

.project__block_video {
  width: 40%;
  margin: 0 100px 0 100px;
}

@media (max-width: 900px) {
  .project h2 {
    font-size: 55px;
  }
  .project__block_name {
    font-size: 45px;
  }
  .project__block_desc {
    font-size: 23px;
  }
}
@media (max-width: 800px) {
  .project h2 {
    font-size: 50px;
  }
  .project__block_name {
    font-size: 40px;
  }
  .project__block_desc {
    font-size: 20px;
  }
  .project__block_img {
    margin: 0 75px 0 75px;
  }
}

@media (max-width: 700px) {
  .project h2 {
    font-size: 45px;
  }
  .project__block_name {
    font-size: 35px;
  }
  .project__block_desc {
    font-size: 14px;
  }
  .project__block_img {
    margin: 0 65px 0 65px;
  }
}
@media (max-width: 570px) {
  .project__block_img {
    margin: 0 50px 0 50px;
  }
}

@media (max-width: 470px) {
  .project h2 {
    font-size: 35px;
  }
  .project__block_name {
    font-size: 25px;
  }
  .project__block_desc {
    font-size: 12px;
  }
  .project__block_img {
    margin: 0 35px 0 35px;
  }
}

@media (max-width: 370px) {
  .project h2 {
    font-size: 25px;
  }
  .project__block_name {
    font-size: 18px;
  }
  .project__block_desc {
    font-size: 10px;
  }
  .project__block_img {
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 320px) {
  .project h2 {
    font-size: 20px;
  }
  .project__block_name {
    font-size: 16px;
  }
  .project__block_desc {
    font-size: 8px;
  }
  .project__block_img {
    margin: 0 15px 0 10px;
  }
}
